django
djangorestframework
celery
redis
djangorestframework-simplejwt
psycopg2
Pillow
python-dotenv
django-rest-swagger
django-filter
drf-spectacular
django-extensions
django-storages
django-countries


#telegram
aiogram
